# ======================
# Python
# ======================
venv/
env/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# ======================
# Node / React
# ======================
node_modules/
dist/
build/

# ======================
# Variables de entorno
# ======================
.env
.env.local

# ======================
# Sistema / IDE
# ======================
.vscode/
.idea/
.DS_Store
Thumbs.db
